*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scene{
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(#2e1b35, #0d090f);
    overflow: hidden;
}
.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}